/**/

:root {
  --color-hp: #9ee865;
  --color-attack: #f5de69;
  --color-defense: #f09a65;
  --color-sp-attack: #66d8f6;
  --color-sp-defense: #899eea;
  --color-speed: #e46cca;

  --gradient-start: #fef2f2;
  --gradient-mid: #fffbeb;
  --gradient-end: #f7fee7;

  --card-gradient-start: #fff7ed;
  --card-gradient-mid: #fff7ed;
  --card-gradient-end: #fefce8;

  --submit-color: #ef4444;
  --submit-color-hover: #fca5a5;

  --title-color: #dc2626;
  --subtitle-color: #6b7280;
  --border-color: #f59e0b;
  --error-color: #b91c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100vh;
}

input {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

label {
  font-weight: 600;
}

#error-message {
  margin-top: 1rem;
  padding-block: 1rem;
  color: var(--error-color);
}

#result {
  margin-top: 2rem;
}

#result h2 {
  margin-top: 1rem;
  font-weight: 600;
}

#result p {
  margin-top: 0.5rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  padding-top: 2rem;
  background: linear-gradient(
    180deg,
    var(--gradient-start),
    var(--gradient-mid),
    var(--gradient-end)
  );
}

#submit {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--submit-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: var(--submit-color-hover);
  }
}

.card {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  background: linear-gradient(
    180deg,
    var(--card-gradient-start),
    var(--card-gradient-mid),
    var(--card-gradient-end)
  );
}

.card-title {
  width: auto;
  margin-bottom: 2rem;
  padding: 0;
  border: none;
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-fieldset {
  border: none;
}

.form-grid {
  display: grid;
  gap: 1rem;
  padding-bottom: 2rem;
  grid-template-columns: 1fr;

  @media (width >= 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hidden {
  display: none !important;
}

.subtitle {
  margin-bottom: 2rem;
  color: var(--subtitle-color);
  text-align: center;
}

.text-attack {
  color: var(--color-attack);
}

.text-defense {
  color: var(--color-defense);
}

.text-error {
  color: var(--error-color);
}

.text-hp {
  color: var(--color-hp);
}

.text-sp-attack {
  color: var(--color-sp-attack);
}

.text-sp-defense {
  color: var(--color-sp-defense);
}

.text-speed {
  color: var(--color-speed);
}

.title {
  margin-bottom: 0.5rem;
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
