<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purr-dictive Analytics Platform</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root">
      <h1 class="title">Purr-dictive Analytics Platform</h1>
      <p class="subtitle">
        Enter the stats of a Pokémon to predict if it's legendary
      </p>
      <div class="card">
        <h3 class="card-title">Pokémon Stats</h3>
        <form id="form">
          <div class="form-grid">
            <div class="form-control">
              <label for="hp" class="text-red">HP</label>
              <input id="hp" name="hp" type="number" value="100" />
            </div>
            <div class="form-control">
              <label for="attack" class="text-orange">Attack</label>
              <input id="attack" name="attack" type="number" value="100" />
            </div>
            <div class="form-control">
              <label for="defense" class="text-yellow">Defense</label>
              <input id="defense" name="defense" type="number" value="100" />
            </div>
            <div class="form-control">
              <label for="sp_attack" class="text-blue"
                >Special Attack</label
              >
              <input
                id="sp_attack"
                name="sp_attack"
                type="number"
                value="100"
              />
            </div>
            <div class="form-control">
              <label for="sp_defense" class="text-green"
                >Special Defense</label
              >
              <input
                id="sp_defense"
                name="sp_defense"
                type="number"
                value="100"
              />
            </div>
            <div class="form-control">
              <label for="speed" class="text-purple">Speed</label>
              <input id="speed" name="speed" type="number" value="100" />
            </div>
          </div>
          <button class="submit" type="submit">Predict Legendary Status</button>
        </form>
        <div id="result" class="hidden">
          <h4>Legendary Status Probability</h4>
          <p id="probability"></p>
          <h4>Legendary Status Prediction</h4>
          <p id="prediction"></p>
        </div>
      </div>
    </div>
    <script src="/static/main.js"></script>
  </body>
</html>
